<?xml version="1.0" encoding="utf-8"?>
<Content Key="171d9b9e-2f7d-429a-81a5-4e6a17a64f07" Alias="another great day" Level="3">
  <Info>
    <Parent Key="cf1be7a8-e886-40b2-8d9b-38b63026beba">news</Parent>
    <Path>/Home/news/anotherGreatDay</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2023-11-06T22:56:49</CreateDate>
    <NodeName Default="another great day" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <meatdata_Description>
      <Value><![CDATA[]]></Value>
    </meatdata_Description>
    <metadata_Title>
      <Value><![CDATA[another great day]]></Value>
    </metadata_Title>
    <page_Title>
      <Value><![CDATA[another great day]]></Value>
    </page_Title>
  </Properties>
</Content>