<?xml version="1.0" encoding="utf-8"?>
<Content Key="88e8a249-6279-40b6-beb0-0413d2dc2d46" Alias="another amazing article" Level="3">
  <Info>
    <Parent Key="cf1be7a8-e886-40b2-8d9b-38b63026beba">news</Parent>
    <Path>/Home/news/anotherAmazingArticle</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2023-11-08T23:01:14</CreateDate>
    <NodeName Default="another amazing article" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <meatdata_Description>
      <Value><![CDATA[]]></Value>
    </meatdata_Description>
    <metadata_Title>
      <Value><![CDATA[another amazing article]]></Value>
    </metadata_Title>
    <page_Title>
      <Value><![CDATA[another amazing article]]></Value>
    </page_Title>
  </Properties>
</Content>