<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f9a5b39-602c-46f2-b961-df6a09d55c2c" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-11-04T22:23:20</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <homePage_Layout>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/17a62004cd464d429c4d3f4596521f76",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/6a9bf4578da24e4fae89f0e1cbc832ec",
        "areas": [
          {
            "key": "3ccee257-19cf-433c-b0c3-32c07e27ec49",
            "items": [
              {
                "contentUdi": "umb://element/dea396b11d07489d8266186c0f3bce10",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "93ee4774-b0f8-4094-b875-df2748574abe",
            "items": [
              {
                "contentUdi": "umb://element/773c46491fc1462894518a18f5f9bb83",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ea3f6b3b-c3cb-4927-804d-06e53125be0e",
      "udi": "umb://element/17a62004cd464d429c4d3f4596521f76",
      "headline": "this is the headline"
    },
    {
      "contentTypeKey": "929b1d34-37ba-441e-a39a-833cfe52060b",
      "udi": "umb://element/6a9bf4578da24e4fae89f0e1cbc832ec"
    },
    {
      "contentTypeKey": "8d91ebd5-86e7-4513-b8b8-aa66ae49bfe5",
      "udi": "umb://element/dea396b11d07489d8266186c0f3bce10",
      "richText": "<p>text on the left</p>"
    },
    {
      "contentTypeKey": "8d91ebd5-86e7-4513-b8b8-aa66ae49bfe5",
      "udi": "umb://element/773c46491fc1462894518a18f5f9bb83",
      "richText": "<p>text on the right</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </homePage_Layout>
    <meatdata_Description>
      <Value><![CDATA[]]></Value>
    </meatdata_Description>
    <metadata_Title>
      <Value><![CDATA[Umbraco Headless]]></Value>
    </metadata_Title>
    <page_Title>
      <Value><![CDATA[Home]]></Value>
    </page_Title>
  </Properties>
</Content>