<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf1be7a8-e886-40b2-8d9b-38b63026beba" Alias="news" Level="2">
  <Info>
    <Parent Key="6f9a5b39-602c-46f2-b961-df6a09d55c2c">Home</Parent>
    <Path>/Home/news</Path>
    <Trashed>false</Trashed>
    <ContentType>newsPage</ContentType>
    <CreateDate>2023-11-06T22:13:34</CreateDate>
    <NodeName Default="news" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <meatdata_Description>
      <Value><![CDATA[]]></Value>
    </meatdata_Description>
    <metadata_Title>
      <Value><![CDATA[News]]></Value>
    </metadata_Title>
    <newsPageLayout>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/4c31d2eb2dcc44499cd41bce9ee13804",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "470f2ae7-92e4-4987-abf8-65dc5995dde8",
      "udi": "umb://element/4c31d2eb2dcc44499cd41bce9ee13804",
      "newsList_News": "umb://document/cf1be7a8e88640b28d9b38b63026beba"
    }
  ],
  "settingsData": []
}]]></Value>
    </newsPageLayout>
    <page_Title>
      <Value><![CDATA[News]]></Value>
    </page_Title>
  </Properties>
</Content>